<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
</head>
<body bgcolor="#7a8f9d">
<style>
    .pc {
        width: 120px;
        height: 20px;
        position: absolute;
        top: 1%;
        left: 92%;
        text-align: center;
        border: 1px solid black;
    }
</style>
<div class="pc">
    <a href="/primaryCabinet"><button type="button" style="width: 120px; height: 20px">Личный кабинет</button></a>
</div>
<img src="https://i.gifer.com/39Cg.gif" alt="Тут был мем, но куда-то делся" width="700" height="350" style="position: absolute; bottom: 0px; left: 30%">
</body>
</html>