<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/head-style.css" type="text/css">
    <link rel="stylesheet" href="css/user.style.css" type="text/css">
    <link rel="stylesheet" href="css/scroll-list.css" type="text/css">

    <title>Детали мероприятия</title>

</head>

<body onunload="" class="page-subpage page-item-detail navigation-off-canvas" id="page-top">

<div id="outer-wrapper">
    <div id="inner-wrapper">
        <div class="header">
            <div class="wrapper top-event-header">
                <div class="brand">
                    <a href="/">
                        <img src="icons/logo.png" alt="logo" height="64px">
                        <img src="icons/text.png" alt="logo" height="30px">
                    </a>
                </div>
                <div class="brand">
                    <a href="/add-event" class="submit-item">
                        <button class="btn btn-default">Добавить событие</button>
                    </a>
                </div>
                <div class="brand">
                    <a href="/" class="submit-item">
                        <button class="btn btn-default">Поиск событий</button>
                    </a>
                </div>
                <div class="brand">
                    <nav class="navigation-items">
                        <div class="navigation nav-header">

                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <script type="text/template" class="templateHeaderAuth">
            <div class="wrapper">
                <ul class="user-area">
                    <li><a href="/user?id=<%= item.id %>"><strong id="page-title-name">Мой профиль</strong></a></li>
                    <li><a href="/user-items?id=<%= item.id %>"><strong id="page-title-items">Мои мероприятия</strong></a></li>
                    <li><input type="hidden" value="<%= item.id %>" id="hidden-owner-id"></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </div>
        </script>

        <script type="text/template" class="templateHeaderUnauth">
            <div class="wrapper">
                <ul class="user-area header-wrapper">
                    <li><a href="/login">Войти</a></li>
                    <li><a href="/register"><strong>Регистрация</strong></a></li>
                </ul>
            </div>
        </script>

        <script type="text/template" class="templateEventTitle">
            <header class="page-title">
                <div class="col-md-8">
                    <div class="title">
                        <% if (isCancelled(item.cancelled)!="") { %>
                        <h1 style="color: darkred;
                                   padding-bottom: 10px;">
                            <%- isCancelled(item.cancelled) %></h1>
                        <h2>Мероприятие: <%- item.name %></h2>
                        <% } else { %>
                        <h1><%- item.name %></h1>
                        <% } %>
                        <figure><strong>Адрес:</strong> <%- item.address %></figure>
                        <figure><strong>Тип мероприятия:</strong> <%- item.type.type %></figure>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="button-container-cancel" hidden>
                        <button class="btn btn-default" id="event-cancel<%= item.id %>"><%- buttonCancelled(item.cancelled) %></button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="button-container" hidden>
                        <button class="btn btn-default" id="event-delete<%= item.id %>">Удалить мероприятие</button>
                    </div>
                </div>
            </header>
        </script>

        <script type="text/template" class="templateEventSidebar">
            <aside class="col-md-4 col-sm-4" id="detail-sidebar">
                <section>
                    <header><h3>Контакты организатора</h3></header>

                    <div>
                        <img name="profile_pic" src="data:image/png;base64,<%- item.creator.avatarImg %>" alt="" id="profile_pic">
                    </div>

                    <address>
                        <div><%- item.creator.name %></div>
                        <div><strong><%- item.creator.organizationName %></strong></div>
                        <div><%- item.creator.positionName %></div>
                        <figure>
                            <div class="info">
                                <i class="fa fa-globe"></i>
                                <a href="#"><%- item.creator.email %></a>
                            </div>
                        </figure>
                    </address>
                    <div class="button-update-container" hidden>
                       <a href="/update-event?id=<%=item.id %>"><button class="btn btn-default">Редактировать мероприятие</button></a>
                    </div>
                </section>

            </aside>
        </script>

        <script type="text/template" class="templateEventHeader">
            <div class="col-md-12" style="background: white">
            <div class="col-md-8">
                <header>
                    <h3>Дата начала</h3>
                    <p><%-  _.identity(dateWrite(item.timeStart)) %></p>
                </header>
                <header>
                    <h3>Дата окончания</h3>
                    <p><%-  _.identity(dateWrite(item.timeEnd))  %></p>
                </header>
                <header>
                    <h3>Описание</h3>
                    <p><%- item.description  %></p>
                </header>
            </div>
            <div class="col-md-4" style="padding-left: 10px">
                <div class="form-group">
                    <header>
                        <% if (_.size(item.visitors)>0) { %>
                        <h3>Количество посетителей: <%- _.size(item.visitors) %></h3>
                        <% } else { %>
                        <h3>Стань первым посетителем!</h3>
                        <% } %>
                    </header>
                </div>
                <div class="form-group eventVisit">
                    <form name="visitevent" id="visitevent" role="form" method="post" action="?" >
                        <input id="hidden-user-id" name="userId" class="userId" type="hidden" value="">
                        <input id="hidden-event-id" name="eventId" class="userId" type="hidden" value="<%= item.id %>">
                        <input type="submit" class="btn btn-default" id="item-visited" value="<%= visitEvent(item.visited) %>">
                    </form>
                </div>
            </div>
            </div>
        </script>

        <script type="text/template" class="templateEventBody">

            <% if (_.size(item.itemsList)==0) { %>
            <div class="item list">
                <div class="col-md-7">
                    <div class="wrapper">
                        <h3 id="event-name" class="item-name">На мероприятии нет площадок!</h3>
                    </div>
                </div>
            </div>
            <% } else { %>
            <% _.each( item.itemsList, function( listItem ){ %>
            <div class="item list">
                <div class="col-md-9">
                    <div class="wrapper">
                        <h3 id="name" class="item-name"><%- listItem.eventItem.name %></h3>
                        <h5 id="auditory"><b>Ориентир:</b> <%- listItem.eventItem.auditory  %></h5>
                        <h5 id="timeStart"><b>Время начала:</b> <%- _.identity(dateWrite(listItem.eventItem.timeStart)) %></h5>
                        <% if (!_.isEmpty(listItem.eventItem.description)) { %>
                        <h5 id="descr"><b>Описание:</b> <%- listItem.eventItem.description  %></h5>
                        <% } %>
                        <h3 id="speaker" class="item-name">Спикер: <%- listItem.speaker.name %></h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wrapper">
                        <div class="form-group">
                            <form name="featureItem<%= listItem.eventItem.id %>" id="featureItem<%= listItem.eventItem.id %>" role="form" method="post" action="?" >
                                <input id="hidden-user-featur-id<%= listItem.eventItem.id %>" name="userId" class="userId" type="hidden" value="">
                                <input id="hidden-item-id<%= listItem.eventItem.id %>" name="itemId" class="itemId" type="hidden" value="<%= listItem.eventItem.id %>">
                                <input type="image" src="<%= visitItem(listItem.featured) %>" id="item-featured<%= listItem.eventItem.id %>" alt="Щелкни меня!">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% });
            }%>
        </script>


        <div id="page-canvas">
            <div id="page-content">
                <section class="container">
                    <div class="row">
                        <section class="block event-head" id="main-content">
                            <div class="row event-sidebar">
                                <div class="col-md-8 col-sm-8">
                                    <section>
                                        <article class="block" style="padding: 0;">
                                            <div class="block-header event-header"></div>

                                            <div class="block-header">
                                                <div class="col-md-12 event-body">
                                                    <h2>Площадки мероприятия</h2>
                                                </div>
                                            </div>
                                        </article>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>

        <footer id="page-footer">
            <div class="inner">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <section>
                                    <h2>About Us</h2>
                                    <address>
                                        <div>Группа DEV-2</div>
                                        <div>DIMI-MM</div>
                                    </address>

                                </section>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <section>
                                    <h2>Об авторах</h2>
                                    <figure>
                                        <div class="info">
                                            <span>Шаталова Надежда</span>
                                        </div>
                                        <div class="info">
                                            <span>Таиров Александр</span>
                                        </div>
                                    </figure>
                                </section>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <section>
                                    <h2>Вот здесь нас нет</h2>
                                    <div class="social">
                                        <a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="social-button"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <span class="left">(C) EventX, NetCracker, 2020.</span>
                        <span class="right">
                                <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


<script type="text/javascript" src="js/base/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/base/before.load.js"></script>
<script type="text/javascript" src="js/base/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/base/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/base/jquery.hotkeys.js"></script>
<script type="text/javascript" src="js/base/custom.js"></script>
<script type="text/javascript" src="js/base/moment.js"></script>
<script type="text/javascript" src="js/base/underscore.js"></script>
<script type="text/javascript" src="js/my-scripts/checkAuth.js"></script>
<script type="text/javascript" src="js/my-scripts/dateWriteFunc.js"></script>
<script type="text/javascript" src="js/my-scripts/buttonClassVisitEvent.js"></script>
<script type="text/javascript" src="js/my-scripts/listItem.js"></script>
<script type="text/javascript" src="js/my-scripts/getImg.js"></script>
<!--<script type="text/javascript" src="js/my-scripts/userPictureDownload.js"></script>-->


</body>
</html>