<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
</head>
<body bgcolor="#7a8f9d">
<style>
    .registration {
        width: 80px;
        height: 20px;
        position: absolute;
        top: 1%;
        left: 92%;
        text-align: center;
        border: 1px solid black;
    }

    .logIn {
        width: 80px;
        height: 20px;
        position: absolute;
        top: 1%;
        left: 87%;
        text-align: center;
        border: 1px solid black;
    }
</style>
<div class="registration">
    <a href="/registration"><button type="button" style="width: 80px; height: 20px">Sign in</button></a>
</div>
<div class="logIn">
    <a href="/logIn"><button type="button" style="width: 80px; height: 20px">Log in</button></a>
</div>
</body>
</html>