<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="css/dropzone.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/head-style.css" type="text/css">
    <link rel="stylesheet" href="css/user.style.css" type="text/css">
    <title>Профиль пользователя</title>
</head>

<body onunload="" class="page-subpage page-profile navigation-top-header" id="page-top">

<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
        <!-- Navigation-->
        <div class="header">
            <div class="wrapper top-event-header">
                <div class="brand">
                    <a href="/">
                        <img src="icons/logo.png" alt="logo" height="64px">
                        <img src="icons/text.png" alt="logo" height="30px">
                    </a>
                </div>
                <div class="brand">
                    <a href="/add-event" class="submit-item">
                        <button class="btn btn-default">Добавить событие</button>
                    </a>
                </div>
                <div class="brand">
                    <a href="/" class="submit-item">
                        <button class="btn btn-default">Поиск событий</button>
                    </a>
                </div>
                <div class="brand">
                    <nav class="navigation-items">
                        <div class="navigation nav-header">

                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <script type="text/template" class="templateHeaderAuth">
            <div class="wrapper">
                <ul class="user-area">
                    <li><a href="/user?id=<%= item.id %>"><strong id="page-title-name">Мой профиль</strong></a></li>
                    <li><a href="/user-items?id=<%= item.id %>"><strong id="page-title-items">Мои мероприятия</strong></a></li>
                    <li><input type="hidden" value="<%= item.id %>" id="hiddenVisitorId"></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </div>
        </script>


        <script type="text/template" class="templateHeaderUnauth">
            <div class="wrapper">
                <ul class="user-area header-wrapper">
                    <li><a href="/login">Войти</a></li>
                    <li><a href="/register"><strong>Регистрация</strong></a></li>
                </ul>
            </div>
        </script>

        <script type="text/template" class="templateTitle">
            <li class="active"><a href="/user?id=<%= item.id %>"><h1 class="page-title"><%- item.name %></h1></a></li>
            <li><a href="/user-items?id=<%= item.id %>"><h1 class="page-title">Мероприятия</h1></a></li>
        </script>

        <script type="text/template" class="template">
            <div class="row">
                <section>
                    <h3><i class="fa fa-user"></i>Информация о пользователе</h3>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="name">Имя</label>
                                <input type="text" class="form-control" id="name" name="name" value="<%= item.name %>">
                                <input type="hidden" class="form-control" id="userId" name="id" value="<%= item.id %>">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="login">Логин</label>
                                <input type="text" class="form-control" id="login" name="username" value="<%= item.username %>">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" value="<%= item.email %>">
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <h3><i class="fa fa-map-marker"></i>Данные об организации</h3>
                    <div class="form-group">
                        <label for="organizationName">Название организации</label>
                        <input type="text" class="form-control" id="organizationName" name="organizationName" value="<%= item.organizationName %>">
                    </div>
                    <div class="form-group">
                        <label for="positionName">Должность</label>
                        <input type="text" class="form-control" id="positionName" name="positionName" value="<%= item.positionName %>">
                    </div>
                </section>

                <div class="form-group">
                    <button type="submit" class="btn btn-large btn-default" id="submit">Сохранить изменения</button>
                </div>
            </div>
        </script>

        <div id="page-canvas">
            <div id="page-content">
                <section class="container">
                    <header>
                        <ul class="nav nav-pills"></ul>
                    </header>
                    <div class="row">
                        <div class="col-md-3">
                            <section>
                                <h3><i class="fa fa-image"></i>Фотография профиля</h3>
                                <form name="picture" class="framed" id="add-picture" role="form" method="post" action="?" enctype="multipart/form-data">
                                    <div id="profile-picture" class="profile-picture dropzone">
                                        <input name="file" type="file" id="uploadimage">
                                        <div class="dz-default dz-message"><span>Нажмите для загрузки</span></div>
                                        <img name="profile_pic" src="icons/person.png" alt="" id="profile-pic">
                                    </div>
                                    <div class="form-group" style="display:flex; items-align: center; justify-content: center;">
                                        <button type="submit" class="btn btn-default" id="btnSubmit">Добавить фотографию</button>
                                    </div>
                                </form>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <form id="form-profile" class="user-info" name="userProfile" role="form" method="post" action="?"></form>
                        </div>

                        <div class="col-md-3 col-sm-9">
                            <h3><i class="fa fa-asterisk"></i>Изменить пароль</h3>
                            <form name="changepassword" class="framed" id="form-password" role="form" method="post" action="?" >
                                <input type="hidden" id="hiddenId" name="id" value="">
                                <div class="form-group">
                                    <label for="current-password">Текущий пароль</label>
                                    <input type="password" class="form-control" id="current-password" name="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="new-password">Новый пароль</label>
                                    <input type="password" class="form-control" id="new-password" name="newPassword" required>
                                </div>
                                <div class="form-group">
                                    <label for="confirm-new-password">Подтвердить пароль</label>
                                    <input type="password" class="form-control" id="confirm-new-password" name="confirm-password" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default" id="passwd-submit">Изменить пароль</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <footer id="page-footer">
            <div class="inner">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <section>
                                    <h2>О нас</h2>
                                    <address>
                                        <div>Группа DEV-2</div>
                                        <div>DIMI-MM</div>
                                    </address>
                                </section>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <section>
                                    <h2>Об авторах</h2>
                                    <figure>
                                        <div class="info">
                                            <span>Шаталова Надежда</span>
                                        </div>
                                        <div class="info">
                                            <span>Таиров Александр</span>
                                        </div>
                                    </figure>
                                </section>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <section>
                                    <h2>Вот здесь нас нет</h2>
                                    <div class="social">
                                        <a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="social-button"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <span class="left">(C) EventX, NetCracker, 2020.</span>
                        <span class="right">
                                <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript" src="js/base/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/base/before.load.js"></script>
<script type="text/javascript" src="js/base/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/base/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/base/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/base/jquery.hotkeys.js"></script>
<script type="text/javascript" src="js/base/dropzone.min.js"></script>
<script type="text/javascript" src="js/base/custom.js"></script>
<script type="text/javascript" src="js/base/underscore.js"></script>
<script type="text/javascript" src="js/my-scripts/updateUser.js"></script>
<script type="text/javascript" src="js/my-scripts/userProfile.js"></script>
<script type="text/javascript" src="js/my-scripts/checkAuth.js"></script>
<script type="text/javascript" src="js/my-scripts/changePasswd.js"></script>
<script type="text/javascript" src="js/my-scripts/userPictureDownload.js"></script>
</body>
</html>
